DATABASE_URL="mysql://root@localhost:3306/sigilife"

SESSION_SECRET="your_super_secret_secret"



DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=sigilife

GOOGLE_CLIENT_ID=your_client_id.apps.googleusercontent.com
VITE_GOOGLE_CLIENT_ID=your_client_id.apps.googleusercontent.com