DATABASE_URL="mysql://root@localhost:3306/sigilife"
PROD_DATABASE_URL="your db url"
SESSION_SECRET="your_super_secret_secret"


GOOGLE_CLIENT_ID=your_client_id.apps.googleusercontent.com
VITE_GOOGLE_CLIENT_ID=your_client_id.apps.googleusercontent.com