@import "tailwindcss";
@plugin "daisyui";

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

grimoire,
.grimoire {
  display: flex;
  flex-direction: column;
  background-image: url('./assets/GrimioreNoir.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: space-around;
  align-items: center;
  height: 100vw;
  width: 100vw;
}

bookbox,
.bookbox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  top: -15vh;
  width: 50%;
  height: 30%;

}

rightpage,
.rightpage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 25vw;
  height: 30vh;
}

leftpage,
.leftpage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 25vw;
  height: 30vh;
}
