@import 'tailwindcss';
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/roboto";


.nav-button,
.navbutton {
  font-family: 'Poller One', sans-serif;
  font-size: medium;
  width: fit-content;
  height: fit-content;
  color: rgb(199, 14, 255);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  Main Container*/
mainContainer,
.maincontainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  width: 100vw;
  scrollbar-color: #6915c9 #136d2a;
  scrollbar-width: thin;
}

maincontainer::-webkit-scrollbar,
.maincontainer::-webkit-scrollbar {
  height: 12px;
}

maincontainer::-webkit-scrollbar-track,
.maincontainer::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

maincontainer::-webkit-scrollbar-thumb,
.maincontainer::-webkit-scrollbar-thumb {
  background: #2b0681;
  border-radius: 10px;
}

maincontainer::-webkit-scrollbar-thumb:hover,
.maincontainer::-webkit-scrollbar-thumb:hover {
  background: #7f64be;
}

usertitle,
.usertitle {
  display: flex;
  min-height: fit-content;
  justify-content: center;
  position: fixed;
  top: 0%;
  left: 25%;
  font-size: x-large;
  size: fit-content;
  color: rgb(199, 14, 255);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  font-family: 'Poller One', sans-serif;
}

grimoire,
.grimoire {
  display: flex;
  flex-direction: column;
  background-image: url('./assets/GrimioreNoir.png');
  background-size: cover;
  position: fixed;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: rgb(0, 0, 0);
}

bookbox,
.bookbox {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  min-height: fit-content;
  width: 95%;
  height: 25%;
  font-size: x-large;
  font-family: 'New Rocker', system-ui;
}

grimiorerightpage .grimiore-right-page {
  display: flex;
  flex-direction: column;
}

rightpage,
.rightpage {
  display: flex;
  flex-direction: column;
  background-image: url('./assets/RightPage.png');
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  color: rgb(0, 0, 0);
  font-family: 'New Rocker', system-ui;
}

sigilibrary,
.sigilibrary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 75vh;

}
sigilthumb,
.sigilthumb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 12px;
  font-family: 'New Rocker', system-ui;
  color:black;
  min-height: 10%0;
}
sigilthumb:hover,
.sigilthumb:hover{
  transform: scale(1.05);
  filter: drop-shadow(0 0 6px gold);
}

sigilpage,
.sigilpage {
  display: flex;
  flex-direction: column;
  background-image: url('./assets/RightPage.png');
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  color: rgb(0, 0, 0);
  font-family: 'New Rocker', system-ui;
}

sigilbox,
.sigilbox{
  height: 50%;
  display: flex;
  position: relative;
}

leftpage,
.leftpage {
  display: flex;
  flex-direction: column;
}

homeroom,
.homeroom {
  display: flex;
  flex-direction: column;
  background-image: url('./assets/HomeRoomClickables.png');
  background-size: cover;
  min-width: 1024px;
  height: 100vh;
  position: relative;
  color: rgb(0, 0, 0);
  font-family: 'New Rocker', system-ui;
}

destroybutton,
.destroybutton {
  position: absolute;
  top: 380px;
  left: 100px;
}

chargebutton,
.chargebutton {
  position: absolute;
  top: 42.75%;
  left: 37%;
}

grimiorebutton,
.grimiorebutton {
  position: absolute;
  top: 31%;
  right: 12%;
}

makesigilbutton,
.makesigilbutton {
  position: absolute;
  bottom: 33%;
  right: 23%;
}

destroybutton,
chargebutton,
grimiorebutton,
makesigilbutton,
.destroybutton,
.chargebutton,
.grimiorebutton,
.makesigilbutton {
  cursor: pointer;
  transition: transform 0.2s ease;
  display: inline-block;
  text-decoration: none;
}

.destroybutton:hover,
.chargebutton:hover,
.grimiorebutton:hover,
.makesigilbutton:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 6px gold) drop-shadow(0 0 126px gold)
    drop-shadow(0 0 20px goldenrod);
  animation: sparkle 0.6s infinite alternate;
}

@keyframes sparkle {
  0% {
    filter: drop-shadow(0 0 8px gold) drop-shadow(0 0 10px gold)
      drop-shadow(0 0 18px goldenrod);
  }
  100% {
    filter: drop-shadow(0 0 8px white) drop-shadow(0 0 10px gold)
      drop-shadow(0 0 18px goldenrod);
  }
}

/*---break---*/

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: 'Roboto Variable', sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

/*---break---*/

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.496 0.265 301.924);
  --primary-foreground: oklch(0.977 0.014 308.299);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.496 0.265 301.924);
  --accent-foreground: oklch(0.977 0.014 308.299);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.897 0.196 126.665);
  --chart-2: oklch(0.768 0.233 130.85);
  --chart-3: oklch(0.648 0.2 131.684);
  --chart-4: oklch(0.532 0.157 131.589);
  --chart-5: oklch(0.453 0.124 130.933);
  --radius: 0.875rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.558 0.288 302.321);
  --sidebar-primary-foreground: oklch(0.977 0.014 308.299);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

/*---break---*/

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.438 0.218 303.724);
  --primary-foreground: oklch(0.977 0.014 308.299);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.438 0.218 303.724);
  --accent-foreground: oklch(0.977 0.014 308.299);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.897 0.196 126.665);
  --chart-2: oklch(0.768 0.233 130.85);
  --chart-3: oklch(0.648 0.2 131.684);
  --chart-4: oklch(0.532 0.157 131.589);
  --chart-5: oklch(0.453 0.124 130.933);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.627 0.265 303.9);
  --sidebar-primary-foreground: oklch(0.977 0.014 308.299);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

/*---break---*/

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}