@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: all;
}

mainContainer,
.maincontainer {
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
}

usertitle,
.usertitle {
  display:flex;
  min-height:fit-content;
  justify-content: center;
  background-color: aquamarine;
  font-size: large;
}

grimoire,
.grimoire {
  display: flex;
  flex-direction: column;
  background-image: url('./assets/GrimioreNoir.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color:maroon;
  font-size: xx-large;
}


bookbox,
.bookbox {
  display: flex;
  flex-direction: row;
  position: relative;
  top: -12%;
  justify-content: space-evenly;
  align-items: center;
  min-height:fit-content;
  width: 95%;
  height: 25%;
  font-size: large;
}

rightpage,
.rightpage {
  display: flex;
  flex-direction: column;
}


sigilibrary,
.sigilibrary {
  display: flex;
  flex-direction: column;
}



leftpage,
.leftpage {
  display: flex;
  flex-direction: column;

}
